@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

:root {
    --font: 'Phudu', cursive;
    --bg-color: white;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font);
}

article{
    margin: auto;
    width: 16%;
}

.form {
    border: solid black 2px;
}

textarea {
    max-width: 190px;
    max-height: 250px;
}
.button{
    text-align: center;
    background-color:yellow;
}

.button:hover{
    background-color: aquamarine;
}